[submodule "LangGraph-GUI-backend"]
	path = backend
	url = https://github.com/TheShinriel/LangGraph-GUI-backend
[submodule "LangGraph-GUI-frontend"]
	path = frontend
	url = https://github.com/TheShinriel/LangGraph-GUI-Svelte
[submodule "examples"]
	path = examples
	url = https://github.com/LangGraph-GUI/examples.git
	branch = main
